<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/responsivetable.css">
</head>

<body>
    <center>
        <br>
        <br>
        <p align=left>Welcome {{fullname}}</p>
        <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
            <label for="citySelect">
                <p/>Select City: </label>
            <br>
            <select name="citySelect" ng-model="data.citySelect">
                <option value="GDC">Gurgaon</option>
                <option value="GNDC">Greater Noida</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Pune">Pune</option>
                <option value="Chennai">Chennai</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Kochi">Kochi</option>
            </select>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-md" ng-click="GetDonations('city',data.citySelect)">Fetch Donations in {{data.citySelect}}</button>
            </t>
            <br>
            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>
                {{found}}
                <br>
            </center>
            <p>
                <br>
                <label ng-show="false">Sort By:
                    <select name="sort" ng-model="offeredby">
                        <option value="offeredby">Name</option>
                        <option value="phone_number">Phone</option>
                        <option value="time">Start Time</option>
                        <option value="from_place">From</option>
                    </select>
                    <br>
                </label>
                <label ng-show="alldonations">Search Places, Names, Emails, Phone Number etc in donations:
                    <input ng-model="searchText">
                </label>
                <br>
                <div class="container">
                    <br><b>{{result}}{{}}</b>
                    <table class="table table-bordered" id="donationstable" ng-show="alldonations" id="searchTextResults">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>City</th>
                                <th ng-click="orderByField='offeredby'; reverse = !reverse" nowrap>Offered By
                                    <span ng-show="orderByField == 'offeredby'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th ng-click="orderByField='email'; reverse = !reverse" nowrap>EMail
                                    <span ng-show="orderByField == 'email'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th>Mobile</th>
                                <th ng-click="orderByField='items'; reverse = !reverse" nowrap>Items
                                    <span ng-show="orderByField == 'items'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th ng-click="orderByField='status'; reverse = !reverse" nowrap>Status
                                    <span ng-show="orderByField == 'status'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th ng-click="orderByField='time'; reverse = !reverse" nowrap>Pickup Time
                                    <span ng-show="orderByField == 'time'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th ng-click="orderByField='from_place'; reverse = !reverse" nowrap>Pickup Place
                                    <span ng-show="orderByField == 'from_place'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in citydonations | orderBy : orderByField : !reverse| filter:searchText">
                            <td>{{$index + 1}}</td>
                            <td>{{row.city}}</td>
                            <td>{{row.offeredby}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.phone_number}}</td>
                            <td>{{row.items}}</td>
                            <td>{{row.status}}</td>
                            <td>{{row.time | date: 'short'}}</td>
                            <td>{{row.from_place}}</td>
                            <td ng-hide="HaveIAcceptedThisDonation(row, login_email)">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'ACCEPTED')">ACCEPT DONATION</button>
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'REJECTED')">REJECT DONATION</button>
                            </td>
                        </tr>
                    </table>
                </div>
        </div>
        </p>
        </div>
    </center>
</body>

</html>