<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Freecycle - Login</title>
    <link rel="stylesheet" href="css/landing-page.css" media="screen" type="text/css" />
</head>

<body ng-app="myApp" ng-controller="LoginCtrl">
    <br>
    <br>
    <br>
    <br>

    <div class="container">

        <div id="login">

            <form class="form-horizontal" name="myForm" autocomplete="on" novalidate>


                <fieldset class="clearfix">
                    <h2>WELCOME TO THE FREECYCLE APP</h2><br><br>
                    <p><span class="fontawesome-user"></span>
                        <input type="text" name="username" ng-model="login.email" placeholder="email" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required>
                        <p class="isa_error" ng-show="myForm.username.$dirty && myForm.username.$invalid">Invalid Email</p>
                    </p>
                    <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fontawesome-lock"></span>
                        <input name="password" type="password" ng-model="login.password" placeholder="password" value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required>
                        <p class="isa_error" ng-show="myForm.password.$dirty && myForm.password.$invalid">Invalid Password</p>
                    </p>
                    <!-- JS because of IE support; better: placeholder="Password" -->
                    <p>
                        <input type="button" value="Sign In" ng-click="Login(login)" ng-disabled="myForm.username.$invalid||  myForm.password.$invalid">
                        <br>
                        <center/> {{loginResult}}
                    </p>
                    <p>Or <a href="#/signup">Sign Up</a></p>
                    <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
                </fieldset>

            </form>
        </div>
        <!-- end login -->

    </div>
</body>

</html>