<!DOCTYPE html>
<html>

<head>
    <title>My Offers</title>
    <style type="text/css">
        .fieldset-auto-width {
            display: inline-block;
        }
    </style>
</head>

<body>

    <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
        <button class="btn btn-primary btn-md" ng-click="GetDonations('email',login_email, true)">VIEW DONATIONS I OFFERED</button>
        <br>
        <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
        <p/><b/>{{found}}
        <br>
        <div class="container" ng-show="alldonations" style="width: 100%">
            <fieldset class="fieldset-auto-width">
                <label ng-show="alldonations">Search in Donations:
                            <input ng-model="searchText">
                        </label>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th ng-click="orderByField='items'; reverse = !reverse" nowrap>Offers
                                <span ng-show="orderByField == 'items'">
                                            <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                            <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                            <th ng-click="orderByField='email'; reverse = !reverse" nowrap>Contacts
                                <span ng-show="orderByField == 'email'">
                                    <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                    <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                            <th ng-click="orderByField='time'; reverse = !reverse" nowrap>Date
                                <span ng-show="orderByField == 'time'">
                                    <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                    <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                            <th ng-click="orderByField='address'; reverse = !reverse" nowrap>Pickup Address
                                <span ng-show="orderByField == 'address'">
                                    <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                    <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                            <th>Request</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in citydonations | orderBy : orderByField : !reverse | filter:searchText">
                        <td><i class={{row.fa_icon}}></i>{{row.items}} in {{row.city}}</td>
                        <td>Email: {{row.email}} Phone: {{row.phone_number}}</td>
                        <td>{{row.modified | date: 'short'}}</td>
                        <td>{{row.address}}</td>
                        <td>
                            <button class="btn btn-primary btn-md" ng-click="CancelOffer(row)">Cancel Offer</button>
                        </td>
                    </tr>
                </table>
            </fieldset>

        </div>

    </div>
</body>

</html>