<!DOCTYPE html>
<html>

<head>
    <title>My Accepted Donations</title>
</head>

<body>
    <center>
        <p align="left">Welcome {{login_fullname}}</p>
        <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">

            <br>
            <button type="button" class="btn btn-primary btn-md" ng-click="GetAcceptedDonations(login_email)">Donations I Accepted</button>
            <br>
            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>
                {{found}}
                <br>
            </center>
            <p>
                <br>
                <label ng-show="false">Sort By:
                    <select name="sort" ng-model="offeredby">
                        <option value="offeredby">Name</option>
                        <option value="phone_number">Phone</option>
                        <option value="time">Start Time</option>
                        <option value="from_place">From</option>
                    </select>
                    <br>
                </label>
                <label ng-show="alldonations">Search Places, Names, Emails, Phone Number etc in donations:
                    <input ng-model="searchText">
                </label>
                <br>
                <div class="container">
                    <br><b>{{result}}{{}}</b>
                    <table class="table table-bordered" id="donationstable" ng-show="alldonations" id="searchTextResults">
                        <thead>
                            <tr>
                                <th>Offer</th>
                                <th ng-click="orderByField='_data.status'; reverse = !reverse" nowrap>Status
                                    <span ng-show="orderByField == '_data.status'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th ng-click="orderByField='_data.from_place'; reverse = !reverse" nowrap>Pickup Place
                                    <span ng-show="orderByField == '_data.from_place'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in citydonations | orderBy : orderByField : !reverse| filter:searchText">
                            <td>{{$index + 1}}: {{row._data.items}} in {{row._data.city}} offered by {{row._data.offeredby}} - Email: {{row._data.email}} Ph: {{row._data.phone_number}}
                            </td>
                            <td>{{row._data.status}} at {{row._data.time | date: 'short'}}</td>
                            <td>{{row._data.address}}</td>
                            <td ng-hide="HaveIAcceptedThisDonation(row, login_email)">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'RECEIVED')">RECEIVE DONATION</button>
                            </td>
                        </tr>
                    </table>


                </div>
        </div>
        </p>
        </div>
    </center>
</body>

</html>