<!DOCTYPE html>
<html>

<head>
    <title>View Needs Nearby</title>
    <link rel="stylesheet" href="css/slider.css" type="text/css" />
    <style type="text/css">
        .fieldset-auto-width {
            display: inline-block;
        }
    </style>
</head>

<body>
    <center>
        <p align="left">Welcome {{login_fullname}}</p>
        <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
            <fieldset class="fieldset-auto-width">
                <div>
                    <input type="radio" ng-model="criteria" value="City" ng-click="allneeds=false; found=''"> City Based
                    <input type="radio" ng-model="criteria" value="Near Me" ng-click="allneeds=false; found=''"> Nearby Needs
                </div>
                <div ng-switch="criteria">
                    <div ng-switch-when="City">
                        <label for="citySelect">
                            <p/>Enter City: </label>
                        <br>
                        <input type="text" name="citySelect" ng-model="data.citySelect" />
                        <button type="button" class="btn btn-primary btn-md" ng-click="GetNeeds('city',data.citySelect,false)">Fetch Needs in {{data.citySelect}}</button>
                        <br>
                    </div>
                    <div ng-switch-when="Near Me">
                        <br>
                        <div id="slidecontainer">
                            <p>Select Distance: </p><input type="range" ng-model="data.distance" min="1" max="50" value="25" class="slider" id="myRange">
                            <p>{{'Within ' + data.distance + 'Km'}} Of Address</p>
                        </div>
                        <p>
                            <!--<button type="button" class="btn btn-primary btn-sm" ng-click="PopulateDefaultAddress();data.searchAddress=address">Use My Default Address</button>-->
                            <input type="text" name="myAddress" size="40" ng-model="data.searchAddress" placeholder="Enter Address e.g. Park Street, Kolkata"></p>
                        <button type="button" class="btn btn-primary btn-md" ng-click="OrchestrateGetNearby(data,'needs')">Fetch Needs Within {{data.distance}} km of Address</button>
                        <br>
                    </div>
                </div>
            </fieldset>
            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>
                {{found}}
                <br>
            </center>
            <p>
                <div class="container" ng-show="allneeds" style="width: 100%">
                    <fieldset class="fieldset-auto-width">
                        <label>Sort By:
                                    <select name="sort" ng-change="reverse = !reverse" ng-model="sortfield">
                                        <option value="postedby">Name</option>
                                        <option value="time">Date</option>
                                        <option value="items">Item</option>
                                        <option value="address">Address</option>
                                    </select>
                                    <br>
                                </label> <span></span><i class="fa fa-sort-asc " ng-show="reverse " ng-click="reverse = !reverse;"> </i>
                        <i class="fa fa-sort-desc " ng-show="!reverse " ng-click="reverse = !reverse;"></i></span>


                        <label ng-show="allneeds">Search Places, Items etc in needs:
                                <input ng-model="searchText">
                            </label>
                        <br><b>{{result}}{{}}</b>
                        <table class="table table-responsive" id="needstable" id="searchResults2">
                            <!-- <thead>
                                <tr>
                                    <th ng-click="orderByField='items'; reverse = !reverse" nowrap>Need
                                        <span ng-show="orderByField == 'items'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                    </th>
                                    <th ng-click="orderByField='postedby'; reverse = !reverse" nowrap>Posted By
                                        <span ng-show="orderByField == 'postedby'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                    </th>
                                    <th ng-click="orderByField='time'; reverse = !reverse" nowrap>Date
                                        <span ng-show="orderByField == 'time'">
                                            <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                            <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                    </th>
                                    <th ng-click="orderByField='address'; reverse = !reverse" nowrap>Address
                                        <span ng-show="orderByField == 'address'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                    </th>
                                </tr>
                            </thead> -->
                            <tr ng-repeat="row in cityneeds | orderBy : sortfield : !reverse| filter:searchText">
                                <td><i class={{row.fa_icon}}></i> {{row.items}} by {{row.postedby}} at {{row.address}} on {{row.modified | date:'medium'}}<br>
                                    <center>
                                        <a href=mailto:{{row.email}}><i class="fa fa-envelope fa-2x"></i></a>
                                        <span style="display:inline-block; width: 50px;"></span>
                                        <a href=tel:{{row.phone_number}}><i class="fa fa-phone fa-2x"></i></a>
                                        <span style="display:inline-block; width: 50px;"></span>
                                        <a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker fa-2x"></i></a>
                                    </center>
                                </td>
                                <!--<td><i class={{row.fa_icon}}></i><br>{{row.items}}<br>Urgent: {{row.emergency}}</td>
                                <td>{{row.postedby}} <br><a href=email:{{row.email}}><i class="fa fa-envelope fa-2x"></i>{{row.email}}</a><br><a href=tel:{{row.phone_number}}><i class="fa fa-phone fa-2x"></i> {{row.phone_number}}</a></td>
                                <td>{{row.modified | date: 'medium'}}</td>
                                <td>{{row.address}}<br><a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker fa-2x"></i></a></td>
                                -->
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </p>

        </div>
    </center>
</body>

</html>