<!DOCTYPE html>
<html>

<head>
    <title>My Notifications</title>
    <style type="text/css">
        .fieldset-auto-width {
            display: inline-block;
        }
    </style>
</head>

<body>
    <center/>
    <h5>MY NOTIFICATIONS</h5>
    <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="showevents=false;">

        <br>
        <center/><button type="button" class="btn btn-primary btn-md" ng-click="GetEventsForUser(false)">View Notifications</button>
        <br>
        <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
        <p>
            <div class="container" ng-show="showevents" style="width:100%">
                <fieldset class="fieldset-auto-width">
                    <label>Sort By:
                                <select name="sort" ng-change="reverse = !reverse" ng-model="sortfield">
                                    <option value="eventtype">Event Type</option>
                                    <option value="modified">Date</option>
                                    <option value="items">Item</option>
                                    <option value="address">Address</option>
                                </select>
                                <br>
                            </label> <span></span><i class="fa fa-sort-asc " ng-show="reverse " ng-click="reverse = !reverse;"> </i>
                    <i class="fa fa-sort-desc " ng-show="!reverse " ng-click="reverse = !reverse;"></i></span>

                    <label ng-show="showevents">Search Items, Address, Phone Number etc in events:
                                <input ng-model="searchText">
                            </label>
                    <br><b>{{resultEvents}}{{}}</b>
                    <table class="table table-responsive" id="eventstable" id="searchResults2">
                        <!-- <thead>
                            <tr>
                                <th>Event</th>
                                <th ng-click="sortfield='postedby'; reverse = !reverse" nowrap>Posted By
                                    <span ng-show="orderByField == 'postedby'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='timestamp'; reverse = !reverse" nowrap>Date
                                    <span ng-show="orderByField == 'timestamp'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='address'; reverse = !reverse" nowrap>Address
                                    <span ng-show="orderByField == 'address'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                            </tr>
                        </thead>
                    -->
                        <tr ng-repeat="row in events | orderBy : sortfield : !reverse| filter:searchText">
                            <td><i class={{row.fa_icon}}></i> {{row.eventtype + ': ' + row.items}} by {{row.postedby}} at {{row.address}} on {{row.modified | date:'short'}}<br>
                                <center>
                                    <a href=mailto:{{row.email}}><i class="fa fa-envelope fa-2x"></i></a>
                                    <span style="display:inline-block; width: 50px;"></span>
                                    <a href=tel:{{row.phone_number}}><i class="fa fa-phone fa-2x"></i></a>
                                    <span style="display:inline-block; width: 50px;"></span>
                                    <a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker fa-2x"></i></a>
                                </center>
                            </td>
                            <!--  <td><i class={{row.fa_icon}}></i><br>{{row.eventtype + ': ' + row.items}}</td>
                            <td>{{row.postedby}} <br><a href=email:{{row.email}}><i class="fa fa-envelope fa-2x"></i>{{row.email}}</a><br><a href=tel:{{row.phone_number}}><i class="fa fa-phone fa-2x"></i>{{row.phone_number}}</a>
                            </td>
                            <td>{{row.modified | date: 'medium'}}</td>
                            <td>{{row.address}}<br><a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker fa-2x"></i></a></td>
                                                      <td ng-show="row.status!='ACCEPTED'">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'ACCEPTED')">ACCEPT DONATION</button>
                            </td>
                            <td ng-show="row.status=='ACCEPTED' && row.receiver.receiver_email==login_email">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'OFFERED')">CANCEL ACCEPTANCE</button>
                            </td> -->
                        </tr>
                    </table>
                </fieldset>
            </div>
        </p>
    </div>
</body>

</html>