<!DOCTYPE html>
<html>

<head>
    <title>My Notifications</title>
    <link rel="stylesheet" href="css/responsivetable.css">
</head>

<body>
    <center/>
    <h5>MY NOTIFICATIONS</h5>
    <div ng-app="myApp" ng-controller="DonationCtrl">

        <br>
        <center/><button type="button" class="btn btn-primary btn-md" ng-click="GetGroupsAndEventsForUser()">View Notifications</button>
        <br>
        <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
        <p>
            <div class="container" ng-show="showevents">
                <label ng-show="false">Sort By:
                                <select name="sort" ng-model="offeredby">
                                    <option value="offeredby">Name</option>
                                    <option value="phone_number">Phone</option>
                                    <option value="time">Start Time</option>
                                    <option value="address">Area</option>
                                </select>
                                <br>
                            </label>
                <label ng-show="showevents">Search Items, Address, Phone Number etc in events:
                                <input ng-model="searchText">
                            </label>
                <br><b>{{result}}{{}}</b>
                <table class="table table-bordered" id="eventstable" id="searchResults2">
                    <thead>
                        <tr>
                            <th ng-click="orderByField='postedby'; reverse = !reverse" nowrap>Contact
                                <span ng-show="orderByField == 'postedby'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                            <th ng-click="orderByField='address'; reverse = !reverse" nowrap>Address
                                <span ng-show="orderByField == 'address'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                            <th ng-click="orderByField='items'; reverse = !reverse" nowrap>Items
                                <span ng-show="orderByField == 'items'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in events | orderBy : orderByField : !reverse| filter:searchText">
                        <td>{{row.eventtype + ' posted by ' + row.postedby}} on {{row.timestamp | date: 'short'}} Email: {{row.email}} Phone:
                            <a href={{row.phone_number}}>{{row.phone_number}}</a>
                        </td>
                        <td>{{row.address}}</td>
                        <td>{{row.items}}</td>
                        <!--                           <td ng-show="row.status!='ACCEPTED'">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'ACCEPTED')">ACCEPT DONATION</button>
                            </td>
                            <td ng-show="row.status=='ACCEPTED' && row.receiver.receiver_email==login_email">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'OFFERED')">CANCEL ACCEPTANCE</button>
                            </td> -->
                    </tr>
                </table>
            </div>
        </p>
    </div>
</body>

</html>