<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <br>
    <h4 align="left"> Select rides you offered and send a push message to people who have accepted ride. For example, if you are about to start notify all accepted passengers through Push message or if you will be delayed send a message.
    </h4>

    <br>
    <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
        <label for="citySelect">
            <p/>Select City: </label>
        <br>

        <select name="citySelect" ng-model="data.citySelect">
            <option value="GDC">Gurgaon</option>
            <option value="GNDC">Greater Noida</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Pune">Pune</option>
            <option value="Chennai">Chennai</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Kochi">Kochi</option>
        </select>
        <br>
        <br>
        <button class="btn btn-primary btn-md" ng-click="GetDonations('city',data.citySelect)">GET DONATIONS OFFERED</button>
        <br>
        <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>

        <p>
            <p/>{{found}}
            <br>
            <br>
            <label ng-show="alldonations">Search Places, Names, Emails, Phone Number etc in donations:
                <input ng-model="searchText">
            </label>
            <div class="container">
                <table class="table table-bordered" id="donationstable" ng-show="alldonations" id="searchTextResults">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>City</th>
                            <th ng-click="orderByField='offeredby'; reverse = !reverse" nowrap>Offered By
                                <span ng-show="orderByField == 'offeredby'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                            <th ng-click="orderByField='email'; reverse = !reverse" nowrap>EMail
                                <span ng-show="orderByField == 'email'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                            <th>Mobile</th>
                            <th ng-click="orderByField='items'; reverse = !reverse" nowrap>Items
                                <span ng-show="orderByField == 'items'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                            <th ng-click="orderByField='time'; reverse = !reverse" nowrap>Pickup Time
                                <span ng-show="orderByField == 'time'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                            <th ng-click="orderByField='from_place'; reverse = !reverse" nowrap>Pickup Place
                                <span ng-show="orderByField == 'from_place'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in citydonations | orderBy : orderByField : !reverse| filter:searchText">
                        <td>{{$index + 1}}</td>
                        <td>{{row.city}}</td>
                        <td>{{row.offeredby}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.phone_number}}</td>
                        <td>{{row.items}}</td>
                        <td>{{row.time | date: 'short'}}</td>
                        <td>{{row.from_place}}</td>
                        <td ng-hide="HaveIAcceptedThisDonation(row, login_email)">
                            <input type=text name="push" ng-model="pushMessage" placeholder="I am starting now." ng-minlength="2" ng-required="true">
                            <button class="btn btn-primary btn-md" ng-click="NotifyDonor(row.email,pushMessage)">Send Message</button>
                        </td>
                        <td ng-show="HaveIAcceptedThisdonation(row, login_email)">
                            ACCEPTED
                        </td>
                    </tr>
                </table>
            </div>
        </p>
    </div>
    </center>
</body>

</html>