<!DOCTYPE html>
<html>

<head>
    <title>Subscribe Events</title>
</head>

<body>
    <p align="left">Welcome {{login_fullname}}</p>
    <p align="right"><input type="button" class="btn btn-primary btn-md" name="SubmitTo" value="Manage Subscriptions" ng-click="Redirect('/unsubscribe')"></button>
    </p>
    <p align="left">If you are interested in specific types of donations for a specific locations or areas, add that place name and item here. Whenever anyone creates a donation offer at that place matching this item, you will get a notification.</p>


    <div ng-app="myApp" ng-controller="DonationCtrl">
        <label for="city">
                        <p/>Enter City: </label>
        <br>
        <input type="text" name="city" ng-model="data.city" />
        <br>
        <label for="item">
                    <p/>Enter Item: </label>
        <br>
        <input type="text" name="item" ng-model="data.item" />
        <br>
        <input type="button" class="btn btn-primary btn-md" name="SubmitTo" value="Subscribe" ng-click="Subscribe(data, login_user)"></button>
        <br>{{result}}
    </div>
    <center/><i ng-show="spinner " class="fa fa-circle-o-notch fa-spin "></i>{{result}}

</body>

</html>