<!DOCTYPE html>
<html>

<head>
    <title>View Needs Nearby</title>
    <link rel="stylesheet" href="css/slider.css" type="text/css" />
</head>

<body>
    <center>
        <p align="left">Welcome {{login_fullname}}</p>
        <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
            <div>
                <input type="radio" ng-model="criteria" value="City" ng-click="allneeds=false; found=''"> City Based
                <input type="radio" ng-model="criteria" value="Near Me" ng-click="allneeds=false; found=''"> Emergency Needs Near Me
            </div>
            <div ng-switch="criteria">
                <div ng-switch-when="City">
                    <label for="citySelect">
                            <p/>Enter City: </label>
                    <br>
                    <input type="text" name="citySelect" ng-model="data.citySelect" />
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary btn-md" ng-click="GetNeeds('city',data.citySelect,'YES')">Fetch Emergencies in {{data.citySelect}}</button>
                    <br>
                </div>
                <div ng-switch-when="Near Me">
                    <br>
                    <div id="slidecontainer">
                        <p>Select Distance: </p><input type="range" ng-model="data.distance" min="1" max="50" value="25" class="slider" id="myRange">
                        <p>{{'Within ' + data.distance + 'Km'}} Of Address</p>
                    </div>
                    <p>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="PopulateDefaultAddress();data.searchAddress=address">Use My Default Address</button>
                        <center/><textarea name="myAddress" rows="4" cols="25" ng-model="data.searchAddress" placeholder="Enter Address"></textarea></p>
                    <button type="button" class="btn btn-primary btn-md" ng-click="OrchestrateGetNearby(data,'emergency')">Fetch Emergencies Within {{data.distance}} km of Address</button>
                    <br>
                </div>
            </div>

            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>
                {{found}}
                <br>
            </center>
            <p>
                <div class="container" ng-show="allneeds">
                    <label ng-show="false">Sort By:
                                <select name="sort" ng-model="offeredby">
                                    <option value="offeredby">Name</option>
                                    <option value="phone_number">Phone</option>
                                    <option value="time">Start Time</option>
                                    <option value="address">Area</option>
                                </select>
                                <br>
                            </label>
                    <label ng-show="allneeds">Search Places, Names, Items, Phone Number etc in needs:
                                <input ng-model="searchText">
                            </label>
                    <br><b>{{result}}{{}}</b>
                    <table class="table table-bordered" id="needstable" id="searchResults2">
                        <thead>
                            <tr>
                                <th ng-click="orderByField='items'; reverse = !reverse" nowrap>Need
                                    <span ng-show="orderByField == 'items'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='time'; reverse = !reverse" nowrap>Posted On
                                    <span ng-show="orderByField == 'time'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='address'; reverse = !reverse" nowrap>Address
                                    <span ng-show="orderByField == 'address'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='emergency'; reverse = !reverse" nowrap>Emergency
                                    <span ng-show="orderByField == 'emergency'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in cityneeds | orderBy : orderByField : !reverse| filter:searchText">
                            <td>{{row.items}} in {{row.city}} posted by {{row.postedby}} Email: {{row.email}} Phone: {{row.phone_number}}</td>
                            <td>{{row.time | date: 'short'}}</td>
                            <td>{{row.address}}</td>
                            <td>{{row.emergency}} </td>
                            <td>
                                <button class="btn btn-primary btn-md" ng-click="Redirect('/offerdonation')">OFFER A DONATION</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </p>
        </div>
    </center>
</body>

</html>