<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/responsivetable.css">
</head>

<body>
    <center>
        <br>
        <br>
        <p align=left>Welcome {{fullname}}</p>
        <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
            <div>
                <input type="radio" ng-model="criteria" value="City" ng-click="alldonations=false; found=''"> City Based
                <input type="radio" ng-model="criteria" value="Near Me" ng-click="alldonations=false; found=''"> Offers Near Me
            </div>
            <div ng-switch="criteria">
                <div ng-switch-when="City">
                    <h3>City Based Search</h3>
                    <label for="citySelect">
                            <p/>Enter City: </label>
                    <br>
                    <input type="text" name="citySelect" ng-model="data.citySelect" />
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary btn-md" ng-click="GetDonations('city',data.citySelect)">Fetch Donations in {{data.citySelect}}</button>
                    <br>
                </div>
                <div ng-switch-when="Near Me">
                    <h3>Offers Near Me</h3>
                    <label for="distance">
                            <p/>Select Radius (km): </label>
                    <select name="distance" ng-model="data.distance">
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    <p> Of Address
                        <button type="button" class="btn btn-primary btn-sm" ng-click="PopulateDefaultAddress();data.searchAddress=address">Use My Default Address</button>
                        <center/><textarea name="myAddress" rows="5" cols="40" ng-model="data.searchAddress" placeholder="Address"></textarea></p>
                    <button type="button" class="btn btn-primary btn-md" ng-click="OrchestrateGetNearbyDonations(data)">Fetch Donations Within {{data.distance}} km of Address</button>
                    <br>
                </div>
            </div>

            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>
                {{found}}
                <br>
            </center>
            <p>
                <div class="container" ng-show="alldonations">
                    <label ng-show="false">Sort By:
                                <select name="sort" ng-model="offeredby">
                                    <option value="offeredby">Name</option>
                                    <option value="phone_number">Phone</option>
                                    <option value="time">Start Time</option>
                                    <option value="address">Area</option>
                                </select>
                                <br>
                            </label>
                    <label ng-show="alldonations">Search Places, Names, Items, Phone Number etc in donations:
                                <input ng-model="searchText">
                            </label>
                    <br><b>{{result}}{{}}</b>
                    <table class="table table-bordered" id="donationstable" id="searchResults2">
                        <thead>
                            <tr>
                                <th>Offer</th>
                                <th ng-click="orderByField='email'; reverse = !reverse" nowrap>Contacts
                                    <span ng-show="orderByField == 'email'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='status'; reverse = !reverse" nowrap>Status
                                    <span ng-show="orderByField == 'status'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th ng-click="orderByField='address'; reverse = !reverse" nowrap>Pickup Address
                                    <span ng-show="orderByField == 'address'">
                                        <i class="fa fa-sort-asc" ng-show="reverse"> </i>
                                        <i class="fa fa-sort-desc" ng-show="!reverse"></i></span>
                                </th>
                                <th>Request</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in citydonations | orderBy : orderByField : !reverse| filter:searchText">
                            <td>{{$index + 1}} : {{row.items}} in {{row.city}} offered by {{row.offeredby}}</td>
                            <td>Email: {{row.email}} Phone: {{row.phone_number}}</td>
                            <td>{{row.status}} at {{row.time | date: 'short'}}</td>
                            <td>{{row.address}}</td>
                            <td ng-show="row.status!='ACCEPTED'">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'ACCEPTED')">ACCEPT DONATION</button>
                            </td>
                            <td ng-show="row.status=='ACCEPTED' && row.receiver.receiver_email==login_email">
                                <button class="btn btn-primary btn-md" ng-click="AcceptDonation(row, 'OFFERED')">CANCEL ACCEPTANCE</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </p>
        </div>
    </center>
</body>

</html>